<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/sign-in.css">
</head>
<body>
    
    <div class="first">

        <h1>netflix</h1>

        <div class="center">



            <div class="inpute">

                <h1>sign in</h1>


                <form action="/login" method="POST" >
                <input type="email" name="email" id="" placeholder="email address">

                <br>
                <br>
                <input type="password" name="password" id="" placeholder="password">

                <br>
                <br>
                <input type="submit" name="" value="submit" id="">

</form>
                <h3>new to netflix? <div id="new" ><a href="/register">sign up now</a></h3>

                    <p>this page is protected by google reCAPTCHA to <br>
                    
                        ensure you're not a bot learn more
                    </p>
            </div>


        </div>



    </div>


    
<footer>


    <div class="gray-eight">




    </div>



    <div class="netflix-footer">




        <div class="footer-one">

            <h1>Questions? Call 000-800-040-1843</h1>

            <h1>FAQ</h1>

            <h1>Investor Relations</h1>

            <h1>Privacy</h1>

            <h1>Speed Test</h1>


        </div>

        <div class="footer-two">


            <h1>FAQHelp Centre</h1>
            <h1>Jobs</h1>
            <h1>Cookie Preferences</h1>
            <h1>Legal Notices</h1>

        </div>

        <div class="footer-three">

            <h1>Account</h1>
            <h1>Ways to Watch</h1>

            <h1>Corporate Information</h1>

            <h1>Netflix Originals</h1>
        </div>

        <div class="footer-four">

            <h1>Media Centre</h1>

            <h1>Terms of Use</h1>

            <h1>Contact Us</h1>


        </div>







    </div>

</footer>


</body>
</html>