
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="style/page.css">
   <script src="js/page.js"></script>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="first-netflix">



<div class="netflix-flex">


    <div class="netflix-head">



        <h1>netflix</h1>


    </div>


    <div class="nav">



        <ul>

<li><a href="">home</a></li>

<li><a href="">tv shows</a></li>

<li><a href="">movies</a></li>


<li><a href="">latest</a></li>


<li><a href="">my list</a></li>
        </ul>
    </div>



    <div class="input">




        <i class="fa fa-search" aria-hidden="true"> <input type="search" name="" id="" placeholder=""></i>

    </div>



</div>


<div class="viking">

<h1>viking</h1>


<div class="viking-flix">


    <div class="data">


        <h1>2020</h1>

    </div>


    <div class="number">

<h1>12+</h1>

    </div>


    <div class="hour">

<h1>1h 55min</h1>

    </div>


    <div class="action">
<h1>action</h1>

    </div>


</div>



<div class="page">


    <p>Lorem ipsum dolor sit, amet consectetur adipisicing 
        elit. Culpa iste qui enim pariatur odio aliquam numquam facilis tenetur, 
        uasi eos reprehenderit fuga exercitationem ab? Dolorem!</p>
</div>




</div>

 <div class="play">


<div class="play-button">


    <button id="play">

        <i class="fa fa-play" aria-hidden="true" id="fa" ></i>play

    </button>

</div>



<div class="pause-button">



    <button id="pause">

        <i class="fa fa-plus" aria-hidden="true"></i>my list
        
    </button>

</div>

</div> 

<div class="vidoes" id="vidoes">

   

    <video  autoplay loop controls >


        <source src="/img/vidoe.mp4" type="video/mp4">


     </video> 


</div>


</div>

<!-- movies list netflix video play -->


<div class="movies">


    <div class="feel-good">


        <h1>feel good</h1>


        <div class="feel-goods">


            <div class="one-img">

                <img src="/img/egiht.jpg" alt="">

            </div>

            <div class="two-img">

                <img src="/img/six.jpg" alt="" >

            </div>

            <div class="three-img">


                <img src="/img/seven.jpg" alt="">

            </div>



            <div class="four-img">

                <img src="/img/ten.jpg" alt=" " >


            </div>


            <div class="five-img">



                <img src="/img/nine.jpg" alt="" >

            </div>
        </div>



    </div>


<!-- 
    second row classs -->





    <div class="comedy">


        <h1>comedy</h1>


        <div class="comdey-movies">


            <div class="comedy-one">

                <img src="img/1.jpg" alt="">

            </div>

            <div class="comedy-two">


                <img src="img/2.jpg" alt="">
            </div>

            <div class="comedy-three">


                <img src="img/3.jpg" alt="">
            </div>


            <div class="comedy-four">

                <img src="img/4.jpg" alt="">

            </div>

            <div class="comedy-five">


                <img src="img/5.jpg" alt="">
            </div>

            
        </div>
    </div>




    <!-- thrid - movies -->







    <div class="feel-good">


        <h1>feel good</h1>


        <div class="feel-goods">


            <div class="one-img">

                <img src="/img/egiht.jpg" alt="">

            </div>

            <div class="two-img">

                <img src="/img/six.jpg" alt="" >

            </div>

            <div class="three-img">


                <img src="/img/seven.jpg" alt="">

            </div>



            <div class="four-img">

                <img src="/img/ten.jpg" alt=" " >


            </div>


            <div class="five-img">



                <img src="/img/nine.jpg" alt="" >

            </div>
        </div>









    <!-- four line class row start -->
 
    <div class="comedy">


        <h1>comedy</h1>


        <div class="comdey-movies">


            <div class="comedy-one">

                <img src="img/1.jpg" alt="">

            </div>

            <div class="comedy-two">


                <img src="img/2.jpg" alt="">
            </div>

            <div class="comedy-three">


                <img src="img/3.jpg" alt="">
            </div>


            <div class="comedy-four">

                <img src="img/4.jpg" alt="">

            </div>

            <div class="comedy-five">


                <img src="img/5.jpg" alt="">
            </div>

            
        </div>
    </div>



<!-- 

    end line class row stat -->
    </div>





    

<!-- eight lin row class start and footer -->



<footer>


    <div class="gray-eight">




    </div>



    <div class="netflix-footer">




        <div class="footer-one">

            <h1>Questions? Call 000-800-040-1843</h1>

            <h1>FAQ</h1>

            <h1>Investor Relations</h1>

            <h1>Privacy</h1>

            <h1>Speed Test</h1>


        </div>

        <div class="footer-two">


            <h1>FAQHelp Centre</h1>
            <h1>Jobs</h1>
            <h1>Cookie Preferences</h1>
            <h1>Legal Notices</h1>

        </div>

        <div class="footer-three">

            <h1>Account</h1>
            <h1>Ways to Watch</h1>

            <h1>Corporate Information</h1>

            <h1>Netflix Originals</h1>
        </div>

        <div class="footer-four">

            <h1>Media Centre</h1>

            <h1>Terms of Use</h1>

            <h1>Contact Us</h1>


        </div>







    </div>

</footer>





</body>
