*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.first{


    width: 100%;
    height: 750px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to right , rgba(0, 0, 0,0.7), rgba(0, 0, 0,0.7)), url("/img/two.jpg");

}


.first h1{

    
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: red;
    margin-left: 25px;
   
}


.center{

    width: 360px;
    height: 460px;
    background: rgba(0, 0, 0,0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.inpute{

    text-align: center;
}

.inpute h1{

    font-family: 'Roboto', sans-serif;
    color: white;
    text-transform: capitalize;
    margin-top: 10px;
    margin-left: 10px;

    
}

.inpute input[type="email"]{

    border: none;
    outline: none;
   
    margin: auto;
    margin-top: 25px;
    background-color: rgb(44, 44, 44);
    padding: 20px;
}


.inpute input[type="email"]::placeholder{

    text-transform: capitalize;
}





.inpute input[type="password"]{

    border: none;
    outline: none;
   
    margin: auto;
    margin-top: 10px;
    background-color: rgb(44, 44, 44);
    padding: 20px;
}


.inpute input[type="password"]::placeholder{

    text-transform: capitalize;
}



.inpute input[type="submit"]{

    border: none;
    outline: none;
   
    margin: auto;
    margin-top: 10px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    text-transform: capitalize;
    padding: 10px 68px 10px 68px;

}


.inpute h3{

  color:   rgb(90, 89, 89);
  text-transform: capitalize;
  font-size: 0.8rem;
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
}

.inpute a{
    
color: white;
font-size: 0.8rem;
text-decoration: none;
}


.inpute p{
    color: white;
    font-size: 0.8rem;
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
}




.netflix-footer{

    display: flex;
    width: 100%;
    background-color: black;
    height: 500px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer-one{
    margin: 50px;
  }


  .footer-one h1{

    color:  rgb(85, 82, 82);
              
    font-family: 'Roboto', sans-serif;

    padding: 10px;
    font-size: 1rem;

  }



  .footer-two{
    margin: 50px;
}


.footer-two h1{

  color:  rgb(85, 82, 82);
            
  font-family: 'Roboto', sans-serif;

  padding: 10px;
  font-size: 1rem;

}



.footer-three{
    margin: 50px;
}


.footer-three h1{

  color:  rgb(85, 82, 82);
            
  font-family: 'Roboto', sans-serif;

  padding: 10px;
  font-size: 1rem;

}



.footer-four{
    margin: 50px;
}


.footer-four h1{

  color:  rgb(85, 82, 82);
            
  font-family: 'Roboto', sans-serif;

  padding: 10px;
  font-size: 1rem;

}


@media(max-width:933px) and (min-width:340px){
 
    


    .netflix-footer{

        display: flex;
        width: 100%;
        background-color: black;
        height: 550px;
        justify-content: center;
        flex-wrap: wrap;
      }
    
      .footer-one{
        margin: 20px;
      }
    
    
      .footer-one h1{
    
        color:  rgb(85, 82, 82);
                  
        font-family: 'Roboto', sans-serif;
    
        padding: 10px;
        font-size: 0.7rem;
    
      }
    
    
    
      .footer-two{
        margin: 20px;
    }
    
    
    .footer-two h1{
    
      color:  rgb(85, 82, 82);
                
      font-family: 'Roboto', sans-serif;
    
      padding: 10px;
      font-size: 0.7rem;
    
    }
    
    
    
    .footer-three{
        margin: 25px;
    }
    
    
    .footer-three h1{
    
      color:  rgb(85, 82, 82);
                
      font-family: 'Roboto', sans-serif;
    
      padding: 10px;
      font-size: 0.7rem;
    
    }
    
    
    
    .footer-four{
        margin: 20px;
    }
    
    
    .footer-four h1{
    
      color:  rgb(85, 82, 82);
                
      font-family: 'Roboto', sans-serif;
    
      padding: 10px;
      font-size: 0.7rem;
    
    }
    
}